.content-single {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
}

.content-double {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1110px;
}

.left {
    align-items: start;
    width: 50%;
    padding: 20px;
}

.right {
    justify-content: start;
    align-items: start;
    width: 50%;
    padding: 20px;
}
.hero-margin {
    margin-top: 48px;
    margin-bottom: 100px;
}

form {
    border: 2px, solid, white;
    
}

input[type=text] {
    width: 100%;
    min-width: 503px;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
  }

.button-hero {
box-sizing: border-box;
background: #496BFE;
border: 2px solid #FFFFFF;
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.4px;
text-transform: uppercase;
padding: 12px 20px;
color: #FFFFFF;
}

.button-hero:hover{
    background-color: black;
}

.button-section {
    box-sizing: border-box;
    background: #496BFE;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 12px 20px;
    color: #FFFFFF;
    }

.button-section:hover{
        background-color: black;
    }

nav {
    width: 1100px;
}

.img-top {
    margin-bottom: 5px;
}

.img-bot {
    margin-top: 5px;
}

.start {
    width: 555px;
    align-content: start;
}

.end {
    max-width: 555px;
    width: 100%;
    align-self: end;
}

.svg {
    width: 60px;
    height: 60px;
}

.card {
    height: 374px;
    width: 543px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding: 50px, 32px;
    justify-content: space-evenly;
}

.testimonials-right {
    background: #232323;
    height: 284px;
    align-content: center;
    padding-left: 60px;
    padding-right: 30px;
}