$main-font: 'Josefin Sans', sans-serif; 
$second-font: 'Aleo', serif; 

.scroll {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.logo {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 20px;
}

.logo-choose {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: left;
}

.content-choose {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    text-align: left;
}
.content-margin-top {
    margin-top: 50px; 
    margin-bottom: 10px;
}
.content-margin-bot {
    margin-bottom: 45px;
}

h4 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #E8E8E8;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    h4 {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: #E8E8E8;
        }
  }

.card-first {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}

.card-second {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-text {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
color: #E8E8E8;
}

.testimonial-title {
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center; 
color: #FFFFFF;
margin-bottom: 91px;


}
.testimonial-name {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FEFEFE;
    margin-bottom: 20px;
}

.testimonial-text {
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
color: #E8E8E8;
}

.logo-footer {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: 3.36px;
text-transform: uppercase;
color: #FFFFFF;
}

.slogan-footer {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.6px;
color: #FFFFFF;
}

i {
    padding: 5px;
}