$main-font: 'Josefin Sans', sans-serif; 
$second-font: 'Aleo', serif; 

.scroll {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}